<h1>Words</h1>

<h4>Here is your word list:</h4>
  <ul>
    <% @new_words.each() do |new_word| %>
      <li><a href="/word/<%= new_word.id() %>"><%= new_word.name() %></a></li>
    <% end %>
  </ul>

<h3>Enter in a Word</h3>
  <form action="/" method="post">
    <input type="text" name="word_name" id="word_name">
    <button type="submit" name="button">Submit</button>
  </form>
